<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Latest Scoops!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="https://colons.co/scoops.css?v=vss">
        <link href='https://fonts.googleapis.com/css?family=Lora:700,400' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="https://media.musicfortheblind.co.uk/static/favicon.ico" type="image/vnd.microsoft.icon">
    </head>

    <body>

<!--
    <span class="presses">This just in:</span>
-->
    <div class="headline">
    <h2>
      {{!story}}
    </h2>
    </div>

    <p class="further">
        For more on these or other stories from the world of video games, check out <a href="https://twitter.com/scooperson">Tricky&nbsp;Scooperson</a> on Twitter.
    </p>
    <div class="credit">
        <a id="stamp" target="_blank" href="https://vscary.co/">
            <img alt="a Very Scary Scenario project" src="https://vscary.co/logo-black.svg">
        </a>
        <p><a href="/raw?count=1">Plain text Scoops</a> | <a href="https://codeberg.org/very-scary-scenario/scoops">Source code</a></p>
    </div>
    </body>
</html>
